* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #1b1b1b;
  background-color: rgb(244, 244, 244);
}

main {
  margin-top: 64px;
}
main .presentacion h1 {
  text-align: center;
  font-size: 2rem;
}
main .presentacion p {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.2rem;
}
@media only screen and (min-width: 992px) {
  main .presentacion {
    text-align: center;
  }
}
main section {
  margin: 72px 0;
}
main section h2, main section h3 {
  text-align: center;
  margin: 24px auto;
  width: 70%;
}
main section .CTA-verMas {
  text-align: center;
  margin: 12px;
  padding-top: 32px;
}
main section .CTA-verMas button {
  width: 90%;
  height: 32px;
  background-color: #02aab0;
  border-radius: 4px;
  color: #1b1b1b;
  color: rgb(244, 244, 244);
  border: none;
}
@media only screen and (min-width: 992px) {
  main section .CTA-verMas button {
    width: 40%;
    height: 46px;
    background-color: #02aab0;
    border-radius: 4px;
    color: #1b1b1b;
  }
}

ul {
  list-style-type: none;
}

a, i {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
  margin-left: 1rem;
  margin-right: 1rem;
}

img {
  object-fit: cover;
}

.carta-producto-precompra article .indentidad, .datos-compra .compra-final .carta-compra div, .productos > div {
  display: grid;
}

.carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra article .unidades-producto, .carta-producto-precompra article, .formulario .datos-vivienda .calle, .formulario .datos-vivienda .altura, .formulario .datos-vivienda, .datos-compra .compra-final .carta-compra, footer div .redes, .MasVendidos > div {
  display: flex;
}

.carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra article, .formulario .datos-vivienda .calle, .formulario .datos-vivienda .altura {
  flex-direction: column;
}

.carta-producto-precompra article .unidades-producto, .formulario .datos-vivienda, .datos-compra .compra-final .carta-compra, footer div .redes, .MasVendidos > div {
  flex-direction: row;
}

.index .card .card-body button {
  background-color: transparent;
  border: 1px solid #0f0f0f;
  border-radius: 32px;
  padding: 6px 16px;
  margin: 8px 0;
  transition: all 0.3s;
}
.index .card .card-body button:hover {
  background-color: #00cdac;
  border-color: white;
}
.index .card .card-body button:active {
  background-color: #01ffd6;
  border-color: white;
}

header {
  z-index: 2;
}
header .navbar {
  padding: 0;
}
header .container-fluid {
  flex-direction: row-reverse;
}
@media only screen and (min-width: 992px) {
  header .container-fluid {
    justify-content: flex-end !important;
  }
  header .container-fluid .none-lg {
    display: none;
  }
  header .container-fluid > a {
    order: 2;
    margin-left: 32px;
    margin-right: 0;
  }
  header .container-fluid > button:first-child {
    order: -3;
    margin-right: 32px;
    margin-left: auto;
  }
}
@media only screen and (min-width: 992px) {
  header .container-fluid .offcanvas-start {
    display: flex;
    flex-direction: row;
    transform: none;
    visibility: inherit;
    position: relative;
    background: transparent;
    border: none;
    order: -2;
    width: auto;
  }
  header .container-fluid .offcanvas-start .offcanvas-header {
    display: none;
  }
  header .container-fluid .offcanvas-start .offcanvas-body {
    margin-left: -64px;
    width: 800px;
    overflow-y: visible;
  }
  header .container-fluid .offcanvas-start .offcanvas-body .dropdown {
    margin-left: 32px;
  }
  header .container-fluid .offcanvas-start .offcanvas-body .dropdown .dropdown-menu {
    position: absolute;
  }
  header .container-fluid .offcanvas-start .offcanvas-body .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
  header .container-fluid .offcanvas-start .offcanvas-body .navbar-nav .nav-item {
    margin: auto 32px;
  }
}
header .container-fluid .offcanvas-start .offcanvas-title {
  font-size: 24px;
  color: #02aab0;
}
header .container-fluid .offcanvas-start .offcanvas-body {
  text-align: start;
}
header .container-fluid .offcanvas-start .offcanvas-body i {
  margin-left: 8px;
}
header .container-fluid .offcanvas-start .offcanvas-body a {
  transition: all 0.3s;
}
header .container-fluid .offcanvas-start .offcanvas-body a:hover {
  transform: translateX(3px);
}
header .container-fluid .offcanvas-start .offcanvas-body .nav-item {
  transition: all 0.3s;
}
header .container-fluid .offcanvas-start .offcanvas-body .nav-item i {
  transition: all 0.3s;
}
header .container-fluid .offcanvas-start .offcanvas-body .nav-item:hover a, header .container-fluid .offcanvas-start .offcanvas-body .nav-item i {
  transform: translateX(3px);
}
@media only screen and (min-width: 992px) {
  header .container-fluid .offcanvas-start .offcanvas-body .nav-item:hover a, header .container-fluid .offcanvas-start .offcanvas-body .nav-item i {
    transform: translateY(3px);
  }
}
header .container-fluid .offcanvas-start .offcanvas-body .dropdown-menu {
  border: none;
}
header .container-fluid .offcanvas-end i, header .container-fluid .offcanvas-end a {
  display: inline-block;
  margin: 0px 4px;
}
header .container-fluid .offcanvas-end i {
  padding-right: 8px;
}
header .container-fluid .offcanvas-end .producto-en-carrito {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-template-areas: "img pro trash " "img car trash " "cant price price " "cant_input price price ";
  justify-items: flex-start;
}
header .container-fluid .offcanvas-end .producto-en-carrito hr {
  margin-bottom: 64px;
}
header .container-fluid .offcanvas-end .producto-en-carrito img {
  width: 80%;
  grid-area: img;
  margin: 0 auto;
}
header .container-fluid .offcanvas-end .producto-en-carrito p {
  display: inline-block;
  margin: 0;
  font-size: 12px;
  text-align: start;
  margin-left: 4px;
  height: 32px;
}
header .container-fluid .offcanvas-end .producto-en-carrito p:nth-child(2) {
  margin-top: 4px;
}
header .container-fluid .offcanvas-end .producto-en-carrito .nombre {
  grid-area: pro;
}
header .container-fluid .offcanvas-end .producto-en-carrito .caracter {
  grid-area: car;
}
header .container-fluid .offcanvas-end .producto-en-carrito button {
  grid-area: trash;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  margin: 12px 16px 12px auto;
}
header .container-fluid .offcanvas-end .producto-en-carrito label {
  font-weight: 800;
  margin: 12px auto auto 24px;
}
header .container-fluid .offcanvas-end .producto-en-carrito input {
  grid-area: cant_input;
  width: 32px;
  margin: 8px auto auto 32px;
}
header .container-fluid .offcanvas-end .producto-en-carrito .price {
  font-size: 1.5rem;
  font-weight: 700;
  grid-area: price;
  margin: auto 32px 32px auto;
}
header .container-fluid .offcanvas-end .metodo-entrega > div .tipo-entrega {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 64px;
  margin: 12px auto;
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-radius: 4px;
}
header .container-fluid .offcanvas-end .metodo-entrega > div .tipo-entrega label, header .container-fluid .offcanvas-end .metodo-entrega > div .tipo-entrega input {
  margin: auto 24px;
}
header .container-fluid .offcanvas-end .metodo-entrega > div .provincia-entrega {
  display: block;
}
header .container-fluid .offcanvas-end .metodo-entrega > div .provincia-entrega label {
  display: block;
}
header .container-fluid .offcanvas-end .metodo-entrega > div .provincia-entrega select {
  display: inline-block;
  width: 136px;
  margin: 12px 12px auto auto;
}
header .container-fluid .offcanvas-end .metodo-entrega > div .provincia-entrega p {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px auto 12px 52px;
}
header .container-fluid .offcanvas-end .monto-total p, header .container-fluid .offcanvas-end .monto-total strong {
  display: inline-block;
}
header .container-fluid .offcanvas-end .monto-total strong {
  font-size: 1.4rem;
  margin: 12px 32px 12px 32px;
}
header .container-fluid .offcanvas-end .monto-total p {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px 32px 12px 64px;
}
header .container-fluid .offcanvas-end .volver {
  text-align: center;
}
header .container-fluid .offcanvas-end .volver button {
  margin: 12px;
  width: 90%;
  height: 32px;
  background-color: #02aab0;
  border-radius: 4px;
  color: #1b1b1b;
}
header .container-fluid .offcanvas-end .volver button a {
  color: #1b1b1b;
}
header .container-fluid .offcanvas-end .volver .seguir-viendo {
  margin: 24px;
}
@media only screen and (min-width: 992px) {
  header .container-fluid .offcanvas-end {
    z-index: 2000;
  }
}
header .container-fluid .navbar-brand img {
  width: 98px;
}
header .container-fluid .navbar-toggler {
  margin-left: 16px;
}
header .container-fluid .cart-button {
  border: none;
  background-color: transparent;
  margin-right: 16px;
}
@media only screen and (min-width: 992px) {
  header .container-fluid .cart-button .bi-cart3 {
    width: 32;
    height: 32;
  }
}
header .container-fluid .offcanvas-body > div {
  margin: 64px 0;
}
header .container-fluid .offcanvas-body .dropdown a, header .container-fluid .offcanvas-body .dropdown i {
  display: inline-block;
}

.carta-producto-precompra article .indentidad, .datos-compra .compra-final .carta-compra div, .productos > div {
  display: grid;
}

.carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra article .unidades-producto, .carta-producto-precompra article, .formulario .datos-vivienda .calle, .formulario .datos-vivienda .altura, .formulario .datos-vivienda, .datos-compra .compra-final .carta-compra, footer div .redes, .MasVendidos > div {
  display: flex;
}

.carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra article, .formulario .datos-vivienda .calle, .formulario .datos-vivienda .altura {
  flex-direction: column;
}

.carta-producto-precompra article .unidades-producto, .formulario .datos-vivienda, .datos-compra .compra-final .carta-compra, footer div .redes, .MasVendidos > div {
  flex-direction: row;
}

.index .card .card-body button {
  background-color: transparent;
  border: 1px solid #0f0f0f;
  border-radius: 32px;
  padding: 6px 16px;
  margin: 8px 0;
  transition: all 0.3s;
}
.index .card .card-body button:hover {
  background-color: #00cdac;
  border-color: white;
}
.index .card .card-body button:active {
  background-color: #01ffd6;
  border-color: white;
}

.index {
  margin-top: 156px;
}
.index .carta-producto-precompra article .indentidad, .carta-producto-precompra article .index .indentidad, .index .datos-compra .compra-final .carta-compra div, .datos-compra .compra-final .carta-compra .index div, .index .productos > div {
  display: grid;
}
.index .carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra .CaracteristicasProductoPreCompra .index ul, .index .carta-producto-precompra article .unidades-producto, .carta-producto-precompra article .index .unidades-producto, .index .carta-producto-precompra article, .carta-producto-precompra .index article, .index .formulario .datos-vivienda .calle, .formulario .datos-vivienda .index .calle, .index .formulario .datos-vivienda .altura, .formulario .datos-vivienda .index .altura, .index .formulario .datos-vivienda, .formulario .index .datos-vivienda, .index .datos-compra .compra-final .carta-compra, .datos-compra .compra-final .index .carta-compra, .index footer div .redes, footer div .index .redes, .index .MasVendidos > div {
  display: flex;
}
.index .carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra .CaracteristicasProductoPreCompra .index ul, .index .carta-producto-precompra article, .carta-producto-precompra .index article, .index .formulario .datos-vivienda .calle, .formulario .datos-vivienda .index .calle, .index .formulario .datos-vivienda .altura, .formulario .datos-vivienda .index .altura {
  flex-direction: column;
}
.index .carta-producto-precompra article .unidades-producto, .carta-producto-precompra article .index .unidades-producto, .index .formulario .datos-vivienda, .formulario .index .datos-vivienda, .index .datos-compra .compra-final .carta-compra, .datos-compra .compra-final .index .carta-compra, .index footer div .redes, footer div .index .redes, .index .MasVendidos > div {
  flex-direction: row;
}
.index .card .card-body button {
  background-color: transparent;
  border: 1px solid #0f0f0f;
  border-radius: 32px;
  padding: 6px 16px;
  margin: 8px 0;
  transition: all 0.3s;
}
.index .card .card-body button:hover {
  background-color: #00cdac;
  border-color: white;
}
.index .card .card-body button:active {
  background-color: #01ffd6;
  border-color: white;
}
.index .carousel-inner {
  height: 300px;
}
.index .carousel-inner .carousel-item {
  transition: all 0.5s;
}
.index .carousel-inner .carousel-item img {
  object-fit: cover;
  width: 100%;
}
.index .carousel-inner .carousel-item .carousel-caption {
  bottom: -32px;
  right: 5%;
  left: 5%;
  top: auto;
  color: ligthen(rgb(244, 244, 244), 90%);
  transition: all 0.5s;
}
.index section:first-child p {
  width: 60%;
  margin: 12px auto;
}
.index .vista-personalizables > div {
  margin: 6rem auto;
}
.index .explicacion h2 {
  text-align: center;
  margin: 12px auto;
}
.index .explicacion ol {
  margin-bottom: 24px;
}
.index .explicacion ol li p {
  margin-left: 8px;
}
@media only screen and (min-width: 992px) {
  .index .explicacion ol {
    width: 70%;
    margin: 64px auto;
  }
}
.index .card {
  border: none;
  background: none;
  border-radius: 0;
}
.index .card img {
  height: 216px;
  border-radius: 0;
}
.index .card .card-body {
  text-align: center;
}
.index .card .card-body p, .index .card .card-body strong {
  margin: 0;
}
.index .card .card-body strong {
  font-size: 18px;
}
.index .card .card-body p {
  margin-top: 4px;
  font-size: 24px;
}
.index .card .card-body button {
  transition: all 0.3s;
}
.index .card .card-body button:hover a {
  color: white;
}
.index .card .card-body button a {
  color: #5b5b5b;
}
.index .card .card-body button a i {
  margin-right: 4px;
}
@media only screen and (max-width: 744px) {
  .index .card .card-body button a .boton-comprar-xs {
    display: inline;
  }
}
@media only screen and (max-width: 744px) {
  .index .card .card-body button a span {
    display: none;
  }
}

.MasVendidos > div {
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.MasVendidos > div .card {
  width: 45%;
  margin: 16px 8px;
}

@media only screen and (min-width: 992px) {
  .MasVendidos, .primera-vista-personalizables {
    display: inline-block;
    width: 30%;
    height: 400px;
    margin: 0 132px 32px 132px;
  }
  .MasVendidos {
    padding-top: 100px;
  }
}
.productos > div {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  gap: 8px;
}
@media only screen and (min-width: 992px) {
  .productos > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    width: 85%;
    margin: 32px auto;
  }
}
.productos > div .card {
  width: 90%;
  margin: 4px 0px;
}
@media only screen and (min-width: 992px) {
  .productos > div .card {
    width: 70%;
  }
}

.carta-producto-precompra article .indentidad, .datos-compra .compra-final .carta-compra div, .productos > div {
  display: grid;
}

.carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra article .unidades-producto, .carta-producto-precompra article, .formulario .datos-vivienda .calle, .formulario .datos-vivienda .altura, .formulario .datos-vivienda, .datos-compra .compra-final .carta-compra, footer div .redes, .MasVendidos > div {
  display: flex;
}

.carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra article, .formulario .datos-vivienda .calle, .formulario .datos-vivienda .altura {
  flex-direction: column;
}

.carta-producto-precompra article .unidades-producto, .formulario .datos-vivienda, .datos-compra .compra-final .carta-compra, footer div .redes, .MasVendidos > div {
  flex-direction: row;
}

.index .card .card-body button {
  background-color: transparent;
  border: 1px solid #0f0f0f;
  border-radius: 32px;
  padding: 6px 16px;
  margin: 8px 0;
  transition: all 0.3s;
}
.index .card .card-body button:hover {
  background-color: #00cdac;
  border-color: white;
}
.index .card .card-body button:active {
  background-color: #01ffd6;
  border-color: white;
}

.scrolleable-cards {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 24px;
  padding: 24px;
  width: 300px;
  border-radius: 8px;
  gap: 12px;
}
.scrolleable-cards > div {
  flex: 0 0 100%;
  padding: 24px 16px 24px 72px;
  border-radius: 4px;
  scroll-snap-align: center;
}
@media only screen and (min-width: 992px) {
  .scrolleable-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    overflow-x: visible;
    scroll-snap-type: none;
    width: 85%;
    margin: 32px auto;
  }
}
.scrolleable-cards .caracteristicas-servicio {
  text-align: center;
}
.scrolleable-cards .caracteristicas-servicio svg {
  margin: 16px;
}

#caracter-service {
  grid-template-columns: repeat(3, 1fr);
  margin: 32px auto;
}

.carta-producto-precompra article .indentidad, .datos-compra .compra-final .carta-compra div, .productos > div {
  display: grid;
}

.carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra article .unidades-producto, .carta-producto-precompra article, .formulario .datos-vivienda .calle, .formulario .datos-vivienda .altura, .formulario .datos-vivienda, .datos-compra .compra-final .carta-compra, footer div .redes, .MasVendidos > div {
  display: flex;
}

.carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra article, .formulario .datos-vivienda .calle, .formulario .datos-vivienda .altura {
  flex-direction: column;
}

.carta-producto-precompra article .unidades-producto, .formulario .datos-vivienda, .datos-compra .compra-final .carta-compra, footer div .redes, .MasVendidos > div {
  flex-direction: row;
}

.index .card .card-body button {
  background-color: transparent;
  border: 1px solid #0f0f0f;
  border-radius: 32px;
  padding: 6px 16px;
  margin: 8px 0;
  transition: all 0.3s;
}
.index .card .card-body button:hover {
  background-color: #00cdac;
  border-color: white;
}
.index .card .card-body button:active {
  background-color: #01ffd6;
  border-color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #dbdbdb;
  border-top: 32px solid #dbdbdb;
}
@media only screen and (min-width: 992px) {
  footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 300px;
  }
}
footer div a, footer div p {
  color: rgba(0, 0, 0, 0.55);
}
footer div strong {
  color: rgba(0, 0, 0, 0.55);
  margin-top: 24px;
  padding: 24px;
  font-size: 18px;
}
footer div .metodos-de-pago img {
  width: 128px;
}
footer div ul {
  margin: 0;
  padding: 0;
}
footer div ul li {
  margin: 12px;
}
footer div ul .redes-sociales a {
  display: inline-block;
  background: #fff;
  box-shadow: 0 5px 15px -5px #aaa;
  margin: 10px;
  border-radius: 30%;
  overflow: hidden;
  position: relative;
}
footer div ul .redes-sociales a::before {
  content: "";
  position: absolute;
  left: -110%;
  top: 90%;
  width: 120%;
  height: 120%;
  background: linear-gradient(#00c6ff, #00cdac);
  transform: rotate(45deg);
}
footer div ul .redes-sociales a:hover {
  color: #fff;
  transform: scale(1.3);
}
footer div ul .redes-sociales a:hover::before {
  animation: socialMedia 0.7s 1;
  left: -10%;
  top: -10%;
}
@media only screen and (max-width: 744px) {
  footer div ul .redes-sociales a:active {
    color: #fff;
    transform: scale(1.3);
  }
  footer div ul .redes-sociales a:active::before {
    animation: socialMedia 0.7s 1;
    left: -10%;
    top: -10%;
  }
}
footer div ul .redes-sociales a svg {
  position: relative;
  z-index: 4;
  line-height: 90px;
  transition: all 0.3s ease-in-out;
}

@keyframes socialMedia {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
.carta-producto-precompra article .indentidad, .datos-compra .compra-final .carta-compra div, .productos > div {
  display: grid;
}

.carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra article .unidades-producto, .carta-producto-precompra article, .formulario .datos-vivienda .calle, .formulario .datos-vivienda .altura, .formulario .datos-vivienda, .datos-compra .compra-final .carta-compra, .MasVendidos > div, footer div .redes {
  display: flex;
}

.carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra article, .formulario .datos-vivienda .calle, .formulario .datos-vivienda .altura {
  flex-direction: column;
}

.carta-producto-precompra article .unidades-producto, .formulario .datos-vivienda, .datos-compra .compra-final .carta-compra, .MasVendidos > div, footer div .redes {
  flex-direction: row;
}

.index .card .card-body button {
  background-color: transparent;
  border: 1px solid #0f0f0f;
  border-radius: 32px;
  padding: 6px 16px;
  margin: 8px 0;
  transition: all 0.3s;
}
.index .card .card-body button:hover {
  background-color: #00cdac;
  border-color: white;
}
.index .card .card-body button:active {
  background-color: #01ffd6;
  border-color: white;
}

header {
  text-align: center;
}
header img {
  width: 300px;
}

.datos-compra h1 {
  margin: 72px auto 32px auto;
}
.datos-compra nav {
  display: inline-block;
  margin: 12px 24px;
}
.datos-compra nav a, .datos-compra nav p {
  display: inline;
  margin: 4px;
}
.datos-compra .compra-final {
  display: inline-block;
  margin: 24px;
}
.datos-compra .compra-final .carta-compra img {
  width: 128px;
}
.datos-compra .compra-final .carta-compra div {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "titulo titulo" "caracter caracter" "cantidad precio";
  justify-items: flex-start;
  column-gap: 24px;
  margin-left: 18px;
}
.datos-compra .compra-final .carta-compra div strong {
  grid-area: titulo;
}
.datos-compra .compra-final .carta-compra div .caracter {
  grid-area: caracter;
}
.datos-compra .compra-final .carta-compra div .cant {
  grid-area: cantidad;
}
.datos-compra .compra-final .carta-compra div .monto {
  grid-area: precio;
}
.datos-compra .carta-envio, .datos-compra .monto-total {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 24px;
}
.datos-compra .carta-envio strong, .datos-compra .monto-total strong {
  font-size: 24px;
}
.datos-compra .carta-envio p, .datos-compra .monto-total p {
  margin-left: 98px;
}
.datos-compra h1 {
  text-align: center;
}

.formulario {
  display: inline-block;
  text-align: center;
}
.formulario div {
  display: inline-block;
  text-align: start;
  width: 100%;
  margin: 4px auto;
}
.formulario div label {
  margin-left: 32px;
}
.formulario div input, .formulario div textarea {
  width: 90%;
  margin: 8px auto 18px 1rem;
  height: 44px;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
}
.formulario div select {
  width: 90%;
  margin-left: 12px;
  height: 36px;
}
.formulario div textarea {
  height: 325px;
}
.formulario .datos-vivienda {
  margin-left: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.formulario .datos-vivienda .calle {
  width: 156px;
  margin: 0;
}
.formulario .datos-vivienda .calle input {
  width: 125%;
}
.formulario .datos-vivienda .altura {
  margin: auto 4rem;
  width: 91px;
}
.formulario .datos-vivienda .altura input {
  width: 100%;
}
.formulario .datos-vivienda .dpto {
  margin: 0;
  width: 128px;
}
.formulario h2 {
  text-align: center;
}
.formulario .datos-transferencia {
  display: inline-block;
  width: 90%;
  margin: 12px auto 12px 24px;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
}
.formulario .datos-transferencia strong:first-child {
  display: block;
  text-align: center;
  margin: 4px auto 12px auto;
  font-size: 18px;
}
.formulario .datos-transferencia strong, .formulario .datos-transferencia p {
  margin-left: 12px;
}
.formulario .datos-transferencia strong {
  margin-top: 24px;
}
.formulario .datos-transferencia p {
  margin-top: 4px;
}
.formulario .datos-comprobante input {
  border: none;
}
.formulario .transaccion input {
  height: 28px;
  width: 60%;
}
.formulario button {
  width: 256px;
  height: 32px;
  background-color: #02aab0;
  border-radius: 4px;
  color: #1b1b1b;
  margin: 12px auto 32px auto;
  border: none;
}

.carta-producto-precompra article .indentidad, .productos > div, .datos-compra .compra-final .carta-compra div {
  display: grid;
}

.carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra article .unidades-producto, .carta-producto-precompra article, .MasVendidos > div, footer div .redes, .datos-compra .compra-final .carta-compra, .formulario .datos-vivienda, .formulario .datos-vivienda .calle, .formulario .datos-vivienda .altura {
  display: flex;
}

.carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra article, .formulario .datos-vivienda .calle, .formulario .datos-vivienda .altura {
  flex-direction: column;
}

.carta-producto-precompra article .unidades-producto, .MasVendidos > div, footer div .redes, .datos-compra .compra-final .carta-compra, .formulario .datos-vivienda {
  flex-direction: row;
}

.index .card .card-body button {
  background-color: transparent;
  border: 1px solid #0f0f0f;
  border-radius: 32px;
  padding: 6px 16px;
  margin: 8px 0;
  transition: all 0.3s;
}
.index .card .card-body button:hover {
  background-color: #00cdac;
  border-color: white;
}
.index .card .card-body button:active {
  background-color: #01ffd6;
  border-color: white;
}

.drop-down * {
  box-sizing: border-box;
}

.drop-down {
  position: relative;
  margin: 32px 12px 32px auto;
}
@media only screen and (min-width: 992px) {
  .drop-down {
    position: sticky;
    top: 300px;
    bottom: 700px;
  }
}

.drop-down .text-select {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 32px;
  width: 216px;
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 3px rgba(80, 80, 80, 0.1);
  color: #000;
  font-size: 0.9em;
  cursor: pointer;
  transition: 0.3s;
}

.drop-down .text-select:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.drop-down .text-select * {
  pointer-events: none;
}

.drop-down .menu-select {
  width: 250px;
  user-select: none;
}

.drop-down .menu-select ul {
  background-color: #fff;
  border-radius: 4px;
  color: #000;
  list-style: none;
  font-size: 0.9em;
  animation-name: open-animation;
  animation-duration: 0.3s;
  transform-origin: down;
  padding: 0;
  margin-left: 32px;
}

@keyframes open-animation {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.drop-down .hide {
  display: none;
}
@media only screen and (min-width: 992px) {
  .drop-down .hide {
    display: flex;
  }
}

.drop-down .menu-select li {
  padding: 15px 20px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.1);
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
}

.drop-down .menu-select li:hover {
  background-color: #000;
}

@media only screen and (min-width: 992px) {
  #stock .productos {
    margin-left: 300px;
  }
}

.carta-producto-precompra article .indentidad, .productos > div, .datos-compra .compra-final .carta-compra div {
  display: grid;
}

.carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra article .unidades-producto, .carta-producto-precompra article, .MasVendidos > div, footer div .redes, .datos-compra .compra-final .carta-compra, .formulario .datos-vivienda, .formulario .datos-vivienda .calle, .formulario .datos-vivienda .altura {
  display: flex;
}

.carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra article, .formulario .datos-vivienda .calle, .formulario .datos-vivienda .altura {
  flex-direction: column;
}

.carta-producto-precompra article .unidades-producto, .MasVendidos > div, footer div .redes, .datos-compra .compra-final .carta-compra, .formulario .datos-vivienda {
  flex-direction: row;
}

.index .card .card-body button {
  background-color: transparent;
  border: 1px solid #0f0f0f;
  border-radius: 32px;
  padding: 6px 16px;
  margin: 8px 0;
  transition: all 0.3s;
}
.index .card .card-body button:hover {
  background-color: #00cdac;
  border-color: white;
}
.index .card .card-body button:active {
  background-color: #01ffd6;
  border-color: white;
}

.pre-compra {
  margin-top: 128px;
}
.pre-compra nav {
  display: inline-block;
  margin: 12px 24px;
}
.pre-compra nav a, .pre-compra nav p {
  display: inline;
  margin: 4px;
}
.pre-compra .carta-producto-precompra {
  text-align: center;
}
.pre-compra .carta-producto-precompra img {
  display: inline-block;
  width: 90%;
}
.pre-compra .carta-producto-precompra div {
  text-align: start;
}

.carta-producto-precompra article .indentidad, .productos > div, .datos-compra .compra-final .carta-compra div {
  display: grid;
}

.carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra article .unidades-producto, .carta-producto-precompra article, .MasVendidos > div, footer div .redes, .datos-compra .compra-final .carta-compra, .formulario .datos-vivienda, .formulario .datos-vivienda .calle, .formulario .datos-vivienda .altura {
  display: flex;
}

.carta-producto-precompra .CaracteristicasProductoPreCompra ul, .carta-producto-precompra article, .formulario .datos-vivienda .calle, .formulario .datos-vivienda .altura {
  flex-direction: column;
}

.carta-producto-precompra article .unidades-producto, .MasVendidos > div, footer div .redes, .datos-compra .compra-final .carta-compra, .formulario .datos-vivienda {
  flex-direction: row;
}

.index .card .card-body button {
  background-color: transparent;
  border: 1px solid #0f0f0f;
  border-radius: 32px;
  padding: 6px 16px;
  margin: 8px 0;
  transition: all 0.3s;
}
.index .card .card-body button:hover {
  background-color: #00cdac;
  border-color: white;
}
.index .card .card-body button:active {
  background-color: #01ffd6;
  border-color: white;
}

.carta-producto-precompra article {
  width: 90%;
  margin: 8px auto;
}
.carta-producto-precompra article .precio-total-producto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.carta-producto-precompra article .precio-total-producto strong {
  margin: 24px 12px 32px auto;
}
.carta-producto-precompra article .precio-total-producto p {
  margin: 24px auto 32px 12px;
}
.carta-producto-precompra article .indentidad {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "nombre nombre precio" "hr hr hr";
  height: 156px;
}
.carta-producto-precompra article .indentidad p {
  grid-area: nombre;
  margin: 12px auto auto 8px;
  font-size: 1.1rem;
}
.carta-producto-precompra article .indentidad strong {
  grid-area: precio;
  margin: auto 12px 8px auto;
  font-size: 1.6rem;
}
.carta-producto-precompra article .indentidad hr {
  grid-area: hr;
}
.carta-producto-precompra article .agregarACarrito {
  width: 90%;
  height: 32px;
  background-color: #02aab0;
  border-radius: 4px;
  color: #1b1b1b;
  display: inline-block;
  margin: 12px;
  border: none;
}
.carta-producto-precompra article .unidades-producto {
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
.carta-producto-precompra article .unidades-producto strong {
  margin-left: 32px;
  font-size: 24px;
}
.carta-producto-precompra article .unidades-producto .cantidadProducto {
  display: inline-block;
}
.carta-producto-precompra article .unidades-producto .control-cantidad {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "input cont1" "input cont2";
  margin: 12px auto 24px 132px;
  width: 32px;
}
.carta-producto-precompra article .unidades-producto .control-cantidad input {
  display: inline-block;
  width: 32px;
  grid-area: input;
  height: 60%;
  width: 32px;
  margin: 12px auto 12px auto;
  background-color: #e7e7e7;
  border: none;
  border-radius: 4px;
}
.carta-producto-precompra article .unidades-producto .control-cantidad .sumador, .carta-producto-precompra article .unidades-producto .control-cantidad .restador {
  display: inline-block;
  border-radius: 4px;
  height: 60%;
  border: 1px solid #dbdbdb;
  text-align: center;
}
.carta-producto-precompra article .unidades-producto .control-cantidad .sumador .bi, .carta-producto-precompra article .unidades-producto .control-cantidad .restador .bi {
  margin-bottom: 12px;
  color: #a8a8a8;
}
.carta-producto-precompra article .unidades-producto .control-cantidad .sumador {
  grid-area: cont1;
  margin-bottom: 0;
  margin-top: auto;
}
.carta-producto-precompra article .unidades-producto .control-cantidad .restador {
  margin-top: 0;
  margin-bottom: auto;
  grid-area: cont2;
}
.carta-producto-precompra .CaracteristicasProductoPreCompra {
  margin-top: 64px;
}
.carta-producto-precompra .CaracteristicasProductoPreCompra hr {
  width: 90%;
  margin: 12px auto;
}
.carta-producto-precompra .CaracteristicasProductoPreCompra ul {
  padding: 0;
  width: 90%;
  margin: 12px auto;
}
.carta-producto-precompra .CaracteristicasProductoPreCompra ul li p {
  width: 90%;
  margin: 12px 0 0 0;
}

/*# sourceMappingURL=style.css.map */
